.top {
    width: 100%;
    height: 3rem;
    padding: 0.5rem;
    margin-top: 0.2rem;
    border: 0;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-family: sans-serif;
    color: black;
    background-color: #f0f0f0;
}

@media screen and (hover: hover) {
    .top:hover {
        background-color: #dff0df;
    }
}

.top_selected {
    background-color: #cfe0cf;
}

.top_selected:hover {
    background-color: #cfe0cf;
}

@media screen and (max-width: 40rem) {
    .top_selected {
        background-color: #f0f0f0;
    }

    .top_selected:hover {
        background-color: #f0f0f0;
    }
}