.top {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (max-width: 40rem) {
    .top_null {
        width: 0;
        scale: 0;
    }
}

.header {
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    flex-grow: 0;
    padding: 0.5rem;
    background-color: #f0f0f0;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 50%);
    z-index: 10;
}

.back_button {
    width: 0;
    scale: 0;
}

@media screen and (max-width: 40rem) {
    .back_button {
        height: 100%;
        width: auto;
        scale: 1;
        aspect-ratio: 1;
        background-color: #f0f0f0;
        border-color: #8fbf8f;
        border-style: solid;
        border-radius: 0.5rem;
        font-size: auto;
        font-family: sans-serif;
        color: black;
    }

    @media screen and (hover: hover) {
        .back_button:hover {
            background-color: #dff0df;
        }
    }
}

.group_name {
    display: flex;
    font-size: 1.2rem;
    font-family: sans-serif;
    color: black;
    height: 100%;
    margin-left: 0.5rem;
    align-items: center;
    flex-grow: 1;
}

.member_button {
    background-color: #f0f0f0;
    border-color: #8fbf8f;
    border-style: solid;
    border-radius: 0.5rem;
    font-size: auto;
    font-family: sans-serif;
    color: black;
}

@media screen and (hover: hover) {
    .member_button:hover {
        background-color: #dff0df;
    }
}

.contents {
    display: flex;
    flex-direction: row;
    flex-basis: 1;
    flex-grow: 1;
    position: relative;
}