.top {
    width: fit-content;
    max-width: 70%;
    min-width: 1rem;
    margin-top: 0.5rem;
}

.mine_top {
    margin-left: auto;
}

.name {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-family: sans-serif;
    color: black;
}

.mine_name {
    text-align: right;
}

.message_box {
    background-color: #cfe0cf;
    white-space: pre-line;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    overflow-wrap: break-word;
    font-family: sans-serif;
    color: black;
}

.mine_message_box {
    border-bottom-right-radius: 0;
}

.member_message_box {
    border-bottom-left-radius: 0;
}