.top {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0.5rem 1rem;
    background-color: #f0f0f0;
    z-index: 5;
    transform: translate(calc(100% + 5px), 0);
    transition: transform 0.25s 50ms;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 50%);
}

.top_display {
    scale: 1;
    min-width: 10rem;
    transform: translate(0, 0);
}

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    pointer-events: none;
    background-color: #000000;
    opacity: 0%;
    transition: opacity 0.3s;
}

.bg_display {
    width: auto;
    scale: 1;
    opacity: 30%;
    pointer-events: initial;
}

.title_text {
    font-family: sans-serif;
    color: black;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
}