.top {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.2rem;
    border: 0;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-family: sans-serif;
    color: black;
    background-color: #f0f0f0;
}

.top:hover {
    background-color: #dff0df;
}

.top_selected {
    background-color: #cfe0cf;
}

.top_selected:hover {
    background-color: #cfe0cf;
}